{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/sidebar.css'%}"><link/>{% endblock %}
{% block main %}
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="{% static 'img/logo3.png' %}" alt="logo" class="logo" width="200" height="80">
            </div>
            <ul class="list-unstyled components">
                <li>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <a>Kanban Room</a>
                </li>
                <li>
                    <i class="fa fa-leanpub" aria-hidden="true"></i>
                    <a>Thoughts Room</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <button type="button" id="sidebarCollapse" class="btn btn-secondary">
                        <i class="fa fa-bars"></i>
                        <span>Think That</span>
                    </button>
                </div>
            </nav>
        </div>
    </div>
{% endblock  %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src={% static 'js/sidebar.js' %}></script>
{% endblock %}